language = "python3"
run ="python app.py"
modules = ["python-3.11"]

[workflows]
runButton = "Python"

[[workflows.workflow]]
name = "Python"
author = 14927453
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 app.py"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80
